* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #B88E2F;
    --secondery-color: #F9F1E7;
    --description-color: #9F9F9F;
}

body {
    font-family: 'Poppins';
}

.row-gap-40 {
    row-gap: 40px;
}

.pb-150 {
    padding-bottom: 150px;
}

.shop-section {
    width: 100%;
    height: 100px;
    background-color: var(--secondery-color);
}

.shop-section ul li a {
    font-size: 16px;
}

.sofa-content h3 {
    font-size: 42px;
}

.sofa-content span {
    font-size: 24px;
    color: var(--description-color);
    font-weight: 400;
    line-height: 1.6;
}

.reting-porson span {
    font-size: 13px;
    color: var(--description-color);
}

.bottom-add .no-pic {
    font-size: 16px;
    padding: 15px 30px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #9F9F9F;
}

.sofa-model ul li {
    color: var(--description-color);
    line-height: 2;
}

.center-content span {
    color: var(--description-color);
}

.sofa-content p {
    color: var(--description-color);
}

.cate-side i {
    transform: translate(350px, -35px);
}

.blog-conts ul li {
    color: var(--description-color);
    line-height: 3;
}

.loading-area {
    width: 100%;
    height: 100vh;
    background-color: white;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 999;
  }
  .loader div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  transform: scale(0);
  animation: animate 1.5s ease-in-out infinite;
  display: inline-block;
  margin: .5rem;
  animation-delay: calc(var(--i) * 0.2s);
  }
  
  @keyframes animate {
  0%, 100% {
    transform: scale(0.2);
    background-color: #B88E2F;
  }
  40% {
    transform: scale(1);
    background-color: #B88E2F;
  }
  50% {
    transform: scale(1);
    background-color: #B88E2F;
  }
  }
  hr {
    margin: 4px 0;
    opacity: 100%;
  }
  
  * {
    margin: 0;
    box-sizing: border-box;
  }
  
  :root {
    --priimgy-color: #B88E2F;
    --secondery-color: #F9F1E7;
    --description-color: #9F9F9F;
  }
  
  .navbar-toggler {
    border: none;
    font-size: 25px;
    background-color: #B88E2F;
  }
  
  .navbar-toggler:focus,
  .btn-close:focus {
    outline: none;
    box-shadow: none;
  }
  
  body {
    font-family: "Poppins";
  }
  
  .row-gap-40 {
    row-gap: 40px;
  }
  
  .pb-150 {
    padding-bottom: 150px;
  }
  
  .shop-section {
    width: 100%;
    height: 100px;
    background-color: var(--secondery-color);
  }
  
  .shop-section ul li a {
    font-size: 16px;
  }
  
  .sofa-content h3 {
    font-size: 42px;
  }
  
  .sofa-content span {
    font-size: 24px;
    color: var(--description-color);
    font-weight: 400;
    line-height: 1.6;
  }
  
  .reting-porson span {
    font-size: 13px;
    color: var(--description-color);
  }
  
  .bottom-add .no-pic {
    font-size: 16px;
    padding: 15px 30px;
    background: transparent;
    border-radius: 8px;
    border: 1px solid #9F9F9F;
  }
  
  .sofa-model ul li {
    color: var(--description-color);
    line-height: 2;
  }
  
  .center-content span {
    color: var(--description-color);
  }
  
  .sofa-content p {
    color: var(--description-color);
  }
  
  .cate-side i {
    transform: translate(350px, -35px);
  }
  
  .blog-conts ul li {
    color: var(--description-color);
    line-height: 3;
  }
  
  .pt-100 {
    padding-top: 100px;
  }
  
  .pb-100 {
    padding-bottom: 100px;
  }
  
  .padding-px-15 {
    padding: 0 15px 0 15px;
  }
  
  .header-content ul li a {
    color: black;
  }
  
  .header-content ul li a:hover {
    color: #B88E2F;
  }
  
  .footer-list ul li a {
    color: black;
  }
  
  .footer-list ul li a:hover {
    color: #B88E2F;
  }
  
  .header-icon ul li a {
    color: black;
    transition: all 0.3s ease;
  }
  
  .header-icon ul li a:hover {
    background-color: #B88E2F;
    color: #fff;
  }
  
  .header-icon ul li:hover {
    background-color: #B88E2F;
  }
  .manu-bar ul li a{
    color: black;
    transition: all 0.3s ease;
  }
  .manu-bar ul li a:hover {
    background-color: #B88E2F;
    color: #fff;
  }
  .dropdown-menu {
    --bs-dropdown-link-active-bg: transparent;
  }
  
  .btn-outline-warning {
    --bs-btn-color: #b88e2f;
    --bs-btn-border-color: #b88e2f;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #b88e2f;
    --bs-btn-hover-border-color: #b88e2f;
    --bs-btn-focus-shadow-rgb: 255, 193, 7;
    --bs-btn-active-color: #fff;
  }
  
  /* card-section */
  .products .card-img {
    position: relative;
  }
  
  .products .card-img img {
    min-width: 100%;
    height: auto;
  }
  
  .products .card-img .img-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(58, 58, 58, 0.5);
    color: #fff;
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  .products .card-img .img-hover:hover {
    opacity: 1;
  }
  
  .products .card-img .img-scal i {
    font-size: 20px;
    padding: 5px;
  }
  
  .scal-img {
    overflow: hidden;
    border-radius: 15px;
  }
  .scal-img img{
    transition: all 0.5s ease-in-out;
  }
  
  .scal-img img:hover {
    transform: scale(1.2);

  }
  